<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="empty_world" default= "true"/>
    <arg name="run_rviz" default= "true"/>
    <arg name="urdf_path" default="$(find kuka_lbr_arm_description)/urdf/lbr_iiwa_14_vg10.urdf.xacro"/>

    <rosparam file="$(find kuka_lbr_arm_description)/config/joint_names_lbr_iiwa.yaml" command="load"/>
    <!-- send robot urdf to param server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg urdf_path)'" />
    <!-- Publish joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False"/>
        <rosparam param="source_list">[/lbr_controller/joint_states]</rosparam>
    </node>
     <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <!-- Wether or not run RVIZ -->
    <group if="$(arg run_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kuka_lbr_arm_description)/rviz/lbr.rviz"/> 
    </group>
    
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model lbr_arm -x $(arg x) -y $(arg y) -z $(arg z)" />
    
    <include file="$(find kuka_lbr_arm_description)/launch/arm_controllers.launch" />
          
</launch>