<?xml version="1.0"?>

<model>
  <name>tesla battery_support v2</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>HectorCruz</name>
    <email>hector_cruz95@live.com</email>
  </author>

  <description>
     tesla battery support v2
  </description>
</model>
