
<launch>


<!-- Trajectory Generator -->
<node name="trajectory_generator" pkg="trajectory_generator" type="trajectory_generator" output="screen" />

<!-- Trajectory visualisation -->
<node name="trajectory_visualisation" pkg="trajectory_visualisation" type="trajectory_visualisation" output="screen" />

<!-- Obstacle -->
<node name="obstacle" pkg="ramp_planner" type="obstacle" output="screen" />

<!-- Simulation -->
<node name="stageros" pkg="stage_ros" type="stageros" args="/home/sterlingm/ros_workspace/src/ramp/ramp_launch/launch/world/single_robot.world" />
<node name="ramp_control" pkg="ramp_control" type="ramp_control" output="screen">
  <remap from="odometry" to="odom" />
  <param name="simulation" value="true" />
</node>

</launch>
