<launch>
    <arg name="rviz" default="true"/>
    <arg name="pipeline" default="ompl"/>
    <!-- NOTE: This launch assumes that kuka_kmr_iiwa_sim.launch form kuka_kmr_iiwa_config was launched prior -->
    <!-- Run the main MoveIt! executable with trajectory execution (the controllers have already configured) -->
    <include file="$(find kuka_kmr_iiwa_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="pipeline" value="$(arg pipeline)"/>
    </include>

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    
    <group if="$(arg rviz)">
        <include file="$(find kuka_kmr_iiwa_config)/launch/moveit_rviz.launch">
            <arg name="rviz_config" value="$(find kuka_kmr_iiwa_config)/launch/moveit.rviz"/>
        </include>
    </group>


</launch>