relib_ws/src/hector_gazebo_plugins/
relib_ws/src/moveit_tutorials/
relib_ws/src/panda_moveit_config/
relib_ws/src/iiwa_config/
relib_ws/src/test/

relib_ws/.catkin_tools/
relib_ws/.catkin_workspace/

relib_ws/build/
relib_ws/devel/
relib_ws/install/
relib_ws/logs/

*matched.txt
*ture.txt
*array.txt
*in1.pcd
*out1.pcd   
*.zip

relib_ws/src/ros_controllers/

relib_ws/.vscode/

.vscode/