<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- FIXME: do not use the timestamps from the bag file,
    it makes the tracker hang for some reason. -->
  <param name="use_sim_time" value="false" />

  <!-- Play the video sequence, publish the clock topic to preserve
       the original timestamps. -->
  <node pkg="rosbag" type="play" name="rosbag" args="--clock -l
  $(find visp_tracker)/bag/tutorial-static-box.bag"/>

 <!-- Launch the tracking node -->
  <node pkg="visp_tracker" type="tracker" name="tracker_mbt" output="screen">
    <param name="camera_prefix" value="/wide_left/camera" />
    <param name="tracker_type" value="mbt+klt" />
  </node>

</launch>
